<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <head>

  	<!-- <title>kumpear</title>
  	<link rel="stylesheet" type="text/css" href="css/style.css">
  	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'> -->

  </head>
<body>

  <section id="intro">

    <img src="/images/logo.png" width="250px">
    <div id="description">Kumpear is the Product Matchmaker. It is a product comparison app that narrows down your options to get the most compatible product in your hands faster.</div>
    <div id="signup">

        <%= f.text_field :name, :class => "field", :placeholder => "NAME" %>

        <%= f.text_field :email, :class => "field", :placeholder => "EMAIL" %>


        <%= f.submit "SUBMIT", :class => "button" %>
    </div>

  </section>

  <section id="orange">

    <img src="/images/search-screenshot.png" width="300px">
    <img src="/images/results-screenshot.png" width="300px">
    <img src="/images/kumpear-screenshot.png" width="300px">
    <footer>© 2015</footer>

  </section>

</body>



<% end %>
